@layout MainLayout;

<PageTitle>Shakely Consulting</PageTitle>
<div id="SC">
    <img src=./images/logo_full_big_transparent.png alt="Shakely Consulting" class="logo">
</div>
<style>
    #SC {
        padding-top: 60px;
        text-align: center;
        width: 100%;
        padding-right: 0px;
        margin-right: 0px;
    }
</style>
@code {



}