@namespace SC.Shared
<div class=""></div>
<img src=./images/logo_full_big_transparent.png alt="Shakely Consulting" class="logo">

<style>
    .logo {
        width: 20%;
        height: 20%;
    }
</style>
@code {
    [Parameter] public string Style { get; set; }
    [Parameter] public string Class { get; set; }
}